[submodule "Android"]
	path = Android
	url = https://github.com/OpenAHU/AHUTong-Android.git
[submodule "IOS"]
	path = IOS
	url = https://github.com/OpenAHU/AHUTong-IOS.git
[submodule "HarmonyOS"]
	path = HarmonyOS
	url = https://github.com/OpenAHU/AHUTong-HarmonyOS.git
